.modal {
  background-color: #4d455d;
  color: #f5e9cf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 10vw;
}
.modal button {
  width: 80vw;
}
