.loginCard {
  background-color: #4d455d;
  color: #f5e9cf;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 5vh 5vw;
}
.buttonbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.buttonbox button {
  margin-top: 10px;
}
.error_msg {
  color: red;
}
.loginCard h1,
.loginCard h3 {
  text-align: center;
}

.loginCard a,
.loginCard a:visited {
  text-decoration: none;
  font-size: 32px;
  color: white;
}

@media screen and (min-width: 768px) {
  .loginCard {
    width: 348px;
    height: 80vh;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 18px 5px rgba(0, 0, 0, 0.6);
  }
}
