.loginCard {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
button {
  border: none;
  width: 80%;
  cursor: pointer;
}
.error_msg {
  color: red;
}
